<div class="video-testimonials-wrap multiple-items col-12"><!----video-testimonials-box----->
    <div class="video-testimonials__box justify-content-between col-6">
        <div class="testimonials-video video-box">
            <img class="img-video" src="{{ asset('img/slider-category/14-Feb-slider.jpg') }}" alt="img"/>
        </div>
    </div><!----video-testimonials-box----->
    <div class="video-testimonials__box justify-content-between col-6">
        <div class="testimonials-video video-box">
            <img class="img-video" src="{{ asset('img/slider-category/all-vedio.jpg') }}" alt="img"/>
        </div>
    </div><!----video-testimonials-box----->
    <div class="video-testimonials__box justify-content-between col-6">
        <div class="testimonials-video video-box">
            <img class="img-video" src="{{ asset('img/slider-category/HB.jpg') }}" alt="img"/>
        </div>
    </div><!----video-testimonials-box----->
    <div class="video-testimonials__box justify-content-between col-6">
        <div class="testimonials-video video-box">
            <img class="img-video" src="{{ asset('img/slider-category/kids.jpg') }}" alt="img"/>
        </div>
    </div><!----video-testimonials-box----->
    <div class="video-testimonials__box justify-content-between col-6">
        <div class="testimonials-video video-box">
            <img class="img-video" src="{{ asset('img/slider-category/pranks.jpg') }}" alt="img"/>
        </div>
    </div><!----video-testimonials-box----->

</div>