<div class="filters" style="display: none">
    <div class="aunt mx-auto">
        <p class="close"></p>
        <div class="aut-box">
            <form method="post" class="resseting_form">
                <p class="title-text__sm text-center">{{ 'front.resseting'|trans }}</p>
                <div class="form-group">
                    <input class="form-control" type="email" name="username" placeholder="{{ 'front.login'|trans }}" required="required"/>
                </div>
                <p class="desc-text__md desc-text--red text-center form-resseting-error d-none">{{ 'front.wrong_login_or_password'|trans }}</p>
                <p class="desc-text__md desc-text--red text-center form-resseting-success d-none">{{ 'front.wrong_login_or_password'|trans }}</p>
                <button class="btn btn__come-in btn__resseting" type="submit">{{ 'front.restore'|trans }}</button>
            </form>
        </div>
    </div>
</div>