{% if page.homeVideoReview.empty == false %}
<div class="video-testimonials indent-y">
    <div class="container">
        <div class="row">
            <!----title-name----->
            <h2 class="col-12 title-text__md">{{ 'front.video_reviews'|trans }}</h2>
            <div class="video-testimonials-wrap multiple-items col-12">
                {% for video in page.homeVideoReview.toArray if video.active == 1 and video.locale == app.request.locale %}
                <!----video-testimonials-box----->
                <div class="video-testimonials__box justify-content-between col-6">
                    <div class="testimonials-video video-box">
                        <img class="img-video" src="{% if video.images is not empty %} {% path video.images, 'video_cover' %} {% else %} {% path video.video, 'video_review' %} {% endif %}" alt="img"/>
                        <iframe class="d-flex justify-content-center" data-src="https://www.youtube.com/embed/{{ video.video.providerReference }}?rel=0&amp;amp;controls=0&amp;amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                        <button class="play-video"></button>
                    </div>
                    <p class="title-text__sm margin-text">{{ video.title }}</p>
                    <p class="desc-text desc-text--black desc-text__md margin-text-y">{{ video.description|raw }}</p>
                </div>
                {% endfor %}
            </div>
            <a class="btn btn__all btn-text" href="{{ dynamicLinkCmsPage(constant('App\\Constants\\TypePageConstants::REVIEW_VALUES'), app.request.locale) }}#video">{{ 'front.show_all'|trans }}</a>
        </div>
    </div>
   <!-- <image class="bg-image" src="{{ asset('image/bg/elem/base3.png') }}"/> -->
</div>
{% endif %}