{% if page.homeContentOurAdvantages is not empty %}
<div class="how-info padding-y">
    <div class="container how-info__box">
        <!----img-bg----->
{#        <img class="how-info-box__img" src="{{ asset('img/common/elem-bg.png') }}"/>#}
        <!----content-block----->
        <div class="row">
            <h2 class="col-12 text-center title-text__md">{{ 'front.how_we_do_it'|trans }}</h2>
            <div class="col-12 d-flex justify-content-between how-info__content flex-wrap">
                <div class="col-lg-5 col-md-12 m-md-auto order-1 order-lg-0">
                    <p class="desc-text desc-text--black">
                        {{ page.homeContentOurAdvantages|raw }}
                    </p>
                    <a class="btn btn__create btn-text" href="{{ dynamicLinkCmsPage(constant('App\\Constants\\TypePageConstants::ALL_VIDEO_VALUES'), app.request.locale) }}">{{ 'front.create_movie'|trans }}</a>
                </div>
                {% if page.homeVideoHowWeDoIt is not empty %}
                <div class="col-lg-7 how-video video-box col-md-12 my-3 my-lg-0 order-lg-1"><img class="img-video" src="{% if page.homeImageHowWeDoIt is not empty %} {% path page.homeImageHowWeDoIt, 'video_cover' %} {% else %} {{ asset('img/family-s.jpg') }} {% endif %}" alt="img"/>
                    <iframe class="d-flex justify-content-center" data-src="https://www.youtube.com/embed/{{ page.homeVideoHowWeDoIt.providerReference }}?rel=0&amp;amp;controls=0&amp;amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                    <button class="play-video"></button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}