
<div class="video-testimonials video-top indent-y">
{#    <img class="decor-aps__revers decor-aps" src="{{ asset('img/new-elem/decor-arrow-cicle.png') }}" alt="arrow">#}
    <div class="container">
        <div class="row">
            <!----title-name----->
            <h2 class="col-12 title-text__md wrapper-text">{{ 'front.video_novelty'|trans }}</h2>
            <h1 class="title-text__home font-new">{{ page.pageContentTitle }} </h1>
            <div class="video-testimonials-wrap video-slider col-12">
                <!----video-testimonials-box ----->
                <div class="video-testimonials__box justify-content-between col-6">
                    <div class="testimonials-video video-box">
                        <a class="place-links" href="https://brand.vijoys.com/category/congrat">
                            <img class="img-video" src="{{ asset('img/slider-category/HB.jpg') }}" alt="img"/>
                        </a>
                    </div>
                </div>

                <div class="video-testimonials__box justify-content-between col-6">
                    <div class="testimonials-video video-box">
                        <a class="place-links" href="https://brand.vijoys.com/category/children">
                            <img class="img-video" src="{{ asset('img/slider-category/kids.jpg') }}" alt="img"/>
                        </a>
                    </div>
                </div>

                <div class="video-testimonials__box justify-content-between col-6">
                    <div class="testimonials-video video-box">
                        <a class="place-links" href="https://brand.vijoys.com/category/pranks">
                            <img class="img-video" src="{{ asset('img/slider-category/pranks.jpg') }}" alt="img"/>
                        </a>
                    </div>
                </div>

                <div class="video-testimonials__box justify-content-between col-6">
                    <div class="testimonials-video video-box">
                        <a class="place-links" href="https://brand.vijoys.com/categories">
                            <img class="img-video" src="{{ asset('img/slider-category/all-vedio.jpg') }}" alt="img"/>
                        </a>
                    </div>
                </div>

{#                <div class="video-testimonials__box justify-content-between col-6">#}
{#                    <div class="testimonials-video video-box">#}
{#                        <a class="place-links" href="https://vijoys.com/category/besplatnye-vidzhoisy">#}
{#                            <img class="img-video" src="{{ asset('img/slider-category/Free.jpg') }}" alt="img"/>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="video-testimonials__box justify-content-between col-6">#}
{#                    <div class="testimonials-video video-box">#}
{#                                                <a class="place-links" href="https://vijoys.com/category/14-fevralia">#}
{#                                                    <img class="img-video" src="{{ asset('img/slider-category/kids.jpg') }}" alt="img"/>#}
{#                                                </a>#}
{#                    </div>#}
{#                </div>#}

                </div>
            </div>
      </div>
    </div>
</div>
